/PosterrBackend/.vs
/PosterrBackend/PosterrAPI/bin
/PosterrBackend/PosterrAPI/obj
/PosterrBackend/Application/obj
/PosterrBackend/Application/bin
/PosterrBackend/Domain/obj
/PosterrBackend/Domain/bin
/PosterrBackend/Infrastructure/obj
/PosterrBackend/Infrastructure/bin
/PosterrBackend/PosterrAPITests/bin
/PosterrBackend/PosterrAPITests/obj


/PosterrFrontend/logs
/PosterrFrontend/*.log
/PosterrFrontend/npm-debug.log*
/PosterrFrontend/yarn-debug.log*
/PosterrFrontend/yarn-error.log*
/PosterrFrontend/pnpm-debug.log*
/PosterrFrontend/lerna-debug.log*

/PosterrFrontend/node_modules
/PosterrFrontend/dist
/PosterrFrontend/dist-ssr
/PosterrFrontend/*.local
/PosterrFrontend/.env
/PosterrFrontend/.env.*

/PosterrFrontend/.vscode/*
/PosterrFrontend/!.vscode/extensions.json
/PosterrFrontend/.idea
/PosterrFrontend/.DS_Store
/PosterrFrontend/*.suo
/PosterrFrontend/*.ntvs*
/PosterrFrontend/*.njsproj
/PosterrFrontend/*.sln
/PosterrFrontend/*.sw?

/.env
/.env.*
/PosterrBackend/PosterrAPI/PosterrAPI.csproj.user

